<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表渲染</title>
     <!-- 引入 vue -->
     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <span style="color:red;">普通集合遍历</span>
        <li v-for="(item, index) in items">
            {{ item.message }}
        </li>
        <br/>

        <li v-for="(item, index) in items">
            {{ item.message }}
        </li>
        <br/>

        <span style="color:red;">集合中的对象遍历</span>
        <li v-for="(value, name, index) in object" v-bind:key="index">
            {{ index }}. {{ name }}: {{ value }}
        </li>
    </div>
</body>
<script type="text/javascript">
    const data = {
        items: [
            { message: 'Foo' },
            { message: 'Bar' }
        ],
        object: {
            title: 'How to do lists in Vue',
            author: 'Jane Doe',
            publishedAt: '2016-04-10'
        },
    };
    var app = new Vue({
        el: '#app',
        data: data
    });
</script>
</html>