<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello world</title>
    <!-- 引入 vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">

        <h3 style="color: red;">普通取值方式</h3>
        {{ message }}
        <br/>

        <h3 style="color: red;">属性取值方式</h3>
        <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </span>
        <br/>

        <h3 style="color: red;">条件表达式 修改成 false 就不到了</h3>
        <div>
            <p v-if="seen">现在你看到我了</p>
        </div>
        <br/>

        <h3 style="color: red;">循环</h3>
        <ol>
            <li v-for="todo in todos">
              {{ todo.text }}
            </li>
        </ol>
        <br/>

        <h3 style="color: red;">事件监听</h3>
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">反转消息</button>

        <h3 style="color: red;">通过 v-model 来完成用户的输入和应用状态之间的双向绑定</h3>
        <p>{{ message }}</p>
        <input v-model="message">
        <br/>

        <h3 style="color: red;">组件化应用构建</h3>
        <button-content title="title1: " @clickNow= 'clickNow'></button-content>
        <button-content title="title2: "></button-content>

    </div>    
</body>

<script type="text/javascript">
    //组件的使用方式
    Vue.component('buttonContent',{
        props: ['title'],
        data: function() {
            return {
                count: 0
            }
        },
        template : '<button v-on:click="clickFunction">{{ title }} 增加到 {{ count }} 次数</button>',
        methods: {
            clickFunction: function() {
                this.count ++;
                this.$emit('clicknow', 343435);
            }
        },
    });

    const data = {
        message: 'Hello Vue!',
        seen: true,
        todos: [
            {text: 'lidong'}, 
            {text: 'lijing'}
        ],
    };

    var app = new Vue({
        el: '#app',
        data: data,
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            },
            clickNow: function(e) {
                console.log(e);
            }
        }
    });
</script>

</html>